@using SD_310_W22SD_Assignment.Models.ViewModels
@model UserSelectViewModel

<h3>Select User</h3>
<form asp-action="UserCollection" method="get">
    <select name="userId" asp-items="Model.UserSelect"></select>
    <button type="submit">Check Song Collection</button>
</form>

<div>
    <form asp-action="TopThreeSellingArtists">
        <button type="submit">Check Top3 Artists</button>
    </form>
</div>
<div>
    <form asp-action="TopSellingSongs">
        <button type="submit">Check Top3 Bought Songs</button>
    </form>
</div>
<div>
    <form asp-action="TopThreeRatedSongs">
        <button type="submit">Check Top3 Highest Rated Songs</button>
    </form>
</div>




