@using SD_310_W22SD_Assignment.Models.ViewModels
@model UserSelectViewModel

<h3>Select User</h3>
<form asp-action="UserCollection" method="get">
    <select name="userId" asp-items="Model.UserSelect"></select>
    <button type="submit">Check Song Collection</button>
</form>



